<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的Blog</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
<div id="page">
    <div id="header" class="text-c clearfix">
        <% include ../header.html %>
    </div>
    <div id="content" class="clearfix">
        <div id="container">
            <div id="banner"></div>
            <div id="article-list">
                <ol>
                    <my-article v-for="(item,index) of list" :article="item" @remove="remove(item,index);"></my-article>
                </ol>
            </div>
        </div>
    </div>
    <div id="footer" class="text-c clearfix">
        <% include ../footer.html %>
    </div>
</div>
<script src="/lib/js/vue.js"></script>
<script src="/lib/js/axios.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/base.js"></script>
<script src="/js/myblog.js"></script>
</body>
</html>