<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/build/user.css">
</head>
<body>
<div id="page">
    <div id="header" class="text-c clearfix">
        <% include ../header.html %>
    </div>
    <div id="content" class="clearfix">
        <div id="container">
            <div id="user-list">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr is="my-user" v-for="item of list" :user="item"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="footer" class="text-c clearfix">
        <% include ../footer.html %>
    </div>
</div>
<script src="/lib/js/vue.js"></script>
<script src="/lib/js/axios.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/base.js"></script>
<script src="/js/build/user.js"></script>
</body>
</html>